body{
    background-color: #e3f2fd;
}

a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: #eaf6f6;
    text-decoration: none;
}
.row{
    
    margin: 7% 15%;
}

.card{
    background-color: #e3f2fd;
}

.grid-pic{
    border-radius: 100%;
    width: 200px;
    margin: 7% 15%;
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;  
}
.grid-pic:hover{
    filter: none;

}


/* Footer */

.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
    text-align: center;
}
.footer-link{
    text-align: center;
    line-height: 3;
}

.footer-pp{
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0px;
}


#wrapper{
    margin:60px;

}
     
       .f1{
       white-space:nowrap;
       overflow:hidden;
         animation:anm1 3s steps(60,end);
         margin:0;
         width:380px;
         font-size:24px;
       }
       
       .s2{
         opacity:0;
         margin:0;
         width:380px;
         font-size:24px;
       }
       .f1.s2{
         opacity:1;
       }
       .line{
         animation: 2s linear 0s normal none infinite running anm2;
       }
    
  


@keyframes anm1{
  0%{width:0px;}
}
@keyframes anm2{
  50%{opacity:0}
  100%{opacity:1}
}


